<% layout('') %>
<% var ticketToHtml = function (ticket) {
	if (ticket) { %>
		<div style="font-size:7pt; margin-top:0">www.housieathome.com</div>
		<TABLE class='ticket' width='100%'>
		<% for (var i = 0; i < ticket[0].length; i++) {	%>
			<TR>
			<%for (var j = 0; j < ticket.length; j++) { %>
				<TD class='ticketcell' width='11%' align='center'>
				<%= (ticket[j][i] ? ticket[j][i] : "") %>
				</TD> 
			<% } %>
			</TR>
		<% } %>
		</TABLE><div style="font-size:7pt; margin-top:0">housie@home</div>
	<% } %>
<% }%>
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:white">
  <% if (err) { %>
  		<%= err.error %>
	<% } %>
  <% if (tickets) { %>
  	<table cellspacing="40">
	<% for(var i=0; i<tickets.length/2; i++) {%>
		<tr>
		<td width="50%" align="center">
   		<% ticketToHtml(tickets[i*2]) %>
		</td>
		<td width="50%" align="center">
   		<% ticketToHtml(tickets[i*2+1]) %>
		</td>
		</tr>
	<% } %>
  	<table>
  <% } %>
  </body>
</html>