html {
	min-height:100%;
	position:relative;
	text-align:center;
}
body {
	height:100%;
	font-family: verdana;
	font-size:.8em;
}
h1 {
	font-size:2em; 
	text-align:center;
	font-family:"Brush Script MT", cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	margin-top:0; margin-bottom:0;
	cursor:pointer;
	color:white;
	opacity:.75
}
h1:hover {
	opacity:.3
}

h2 {
	font-size:1.2em; 
	text-align:center; 
	margin-bottom:2%;
}
#main {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
    height:100%;
  	background-color:#A9E2F3;
	vertical-align: middle;
	max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

#home {
	height:90%;
	width:90%;
	margin-top:0%;
	margin-left:auto;
	margin-bottom:5%;
	margin-right:5%;
	padding:5px;
	border-collapse:separate;
	border-spacing:20px;
}

.mainBtn {
	background-color:#00FFFF;
	box-shadow:.6em .6em .3em 0px black;
	cursor:pointer;
	min-height:18%;
	text-align:center;
	width:100%;
	padding:0%;
	border-radius:10px;
}
.mainBtn:hover {
	background-color:#04B4AE;
	color:white;
	box-shadow: .3em .3em 0em 0em black;
	text-shadow: .1em 0.1em 0.1em black;
}

.mainBtn div {
	padding:5%;
}

.panel1 {
    border: .5em solid #00FFFF;
    background-color: #00FFFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	width:90%;
	margin:auto;
	min-height:25%;
}

.panel2 {
    border: .5em solid #B8CB99;
    background-color: #B8CB99;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	margin:auto;
	min-height:25%;
}

.ticket {
	background-color: #00AAAA;
	font-size:1.5em;
}

.ticketcell {
    border: .1em solid #000000;
	padding:.1em;
}

#draw {
	text-align:center;
	width:100%;
	height:95%;
}

#numberDisplay {
	background-color: rgb(225,225,225);
	font-size:10em;
	text-align:center;
	width:70%;
	height:80%;
    margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.statuslist { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
	background-color:white;
}

.statuslist li { 
	margin: 3px; 
	padding: 1px; 
	font-size: .8em; 
	font-weight:bold;
	text-align: center;
	width: 10%;
	max-width:2em;
	display:inline-block;
}

.ticketDrawnNumber {
	text-decoration:line-through;
}

#menu {
	background-color:#04B4AE;
}

#menu ul { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

#menu li { 
	margin-left: 10px; 
	margin-right: 10px; 
	padding: 1px; 
	font-size: 1em; 
	font-weight:bold;
	text-align: center;
	max-width: 15%;
	display:inline-block;
}

.menu-item {
	color:#A9E2F3;
	cursor:hand;
	cursor:pointer
}

.menu-seperator {
	color:#04B4EA
}

.log TABLE {
	font-size:.6em;
}

.log TD {
	background-color:silver;
	font-size:.6em;
}

.help {
	background-image: url(images/ui-icons_0078ae_256x240.png);
	background-position:  -48px -144px;
}

.menu-iframe-content {
	font-size: .8em;
	font-face: arial;
	text-align:left
}

#ticketsDisplay {
	min-height: 300px; 
	overflow: scroll;
}
	
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	.menu-iframe {
		width: 200px;
		height: 350px;
	}
	.menu-iframe-content {
		font-size: .8em;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
	.menu-iframe {
		width: 350px;
		height: 200px;
	}
	.menu-iframe-content {
		font-size: .8em;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
	.menu-iframe {
		width: 500px;
		height: 500px;
	}
	.menu-iframe-content {
		font-size: .9em;
	}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.menu-iframe {
		width: 700px;
		height: 700px;
	}
	.menu-iframe-content {
		font-size: .9em;
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
	.menu-iframe {
		width: 700px;
		height: 700px;
	}
	.menu-iframe-content {
		font-size: 1em;
	}
}


@media only screen and (min-width: 1000px) {
	#main {width:1000px}
}