html {min-height:100%;position:relative}/* make sure it is at least as tall as the viewport */
body {height:100%;background-color:lime; font-family: verdana}
h1 {font-size:400%; text-align:center;
	font-family:"Brush Script MT", cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	margin-top:0; margin-bottom:0;
	cursor:pointer;
	color:white;
	opacity:.75}
h1:hover {
	opacity:.3
}

h2 {font-size:120%; text-align:center; margin-bottom:2%;}
#main {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
    height:100%;
  	background-color:#A9E2F3;
	vertical-align: middle;
}

#home {
	height:90%;
	width:90%;
	margin-top:0%;
	margin-left:auto;
	margin-bottom:5%;
	margin-right:5%;
	padding:5px;
	border-collapse:separate;
	border-spacing:20px;
}

.mainBtn {
	background-color:#00FFFF;
	box-shadow:.6em .6em .3em 0px black;
	cursor:pointer;
	min-height:18%;
	text-align:center;
	width:100%;
	padding:0%;
	border-radius:4%;
}
.mainBtn:hover {
	background-color:#04B4AE;
	color:white;
	box-shadow: .3em .3em 0em 0em black;
	text-shadow: .1em 0.1em 0.1em black;
}

.mainBtn div {
	padding:5%;
}

.panel1 {
    border: .5em solid #00FFFF;
    background-color: #00FFFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	width:90%;
	margin:auto;
	min-height:25%;
}

.panel2 {
    border: .5em solid #B8CB99;
    background-color: #B8CB99;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	width:90%;
	margin:auto;
	min-height:25%;
}

.ticket {
	background-color: #00AAAA;
	font-size:1em;
}

.ticketcell {
    border: .1em solid #000000;
	padding:.1em;
}

#draw {
	text-align:center;
	width:100%;
}

#numberDisplay {
	background-color: #AAAAAA;
	font-size:1000%;
	text-align:center;
	width:400px;
	height:300px;
    margin: 0 auto;
}

.statuslist { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
	background-color:white;
}

.statuslist li { 
	margin: 3px; 
	padding: 1px; 
	float: left; 
	font-size: 1em; 
	text-align: center;
	width: 50px;
}

.ticketDrawnNumber {
	text-decoration:line-through;
}

.log TABLE {
	font-size:small;
}

.log TD {
	background-color:silver;
	font-size:medium;
}

@media only screen and (min-width: 810px) {	  
	h1 {font-size:400%; }
	body {font-size:150%;}
	#numberDisplay {width:400px; height:300px;}
	.log TD {font-size:medium;}
}
@media only screen and (min-width: 440px) and (max-width: 809px){	  
	h1 {font-size:300%; }
	body {font-size:100%;}
	#numberDisplay {width:300px; height:225px;}
	.log TD {font-size:medium;}
}
@media only screen and (max-width: 439px){	  
	h1 {font-size:225%; }
	body {font-size:75%;}
	#numberDisplay {width:225px; height:175px;}
	.log TD {font-size:60%;}
}
